<h2 id='title'>RealFeelz</h2>

{{link-to 'RealFeelz' 'application'}}

<h4 id="title">About</h4>

{{link-to 'About' 'about'}}

<h3 id="title">Statements</h3>

{{link-to 'Statements' 'statements'}}


{{outlet}}
